{#
	Nunjucks Templating!
	Homepage: https://mozilla.github.io/nunjucks/
	Docs: https://mozilla.github.io/nunjucks/api.html
#}
{% from "./components/alert/macro.njk" import alert %}

{% extends 'layouts/application.njk' %}

{% block content %}
	<section>
		<div class="container flex flex-col gap-6 py-8 flex-nowrap">
			<div>
				<h2 class="text-3xl font-bold mb-2">Direct Debt</h2>
				<p class="text-lg text-gray-600">You can view, download, and print documents and statements in your own time with our dashboard.</p>
			</div>
		</div>

	</section>
{% endblock %}
