<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{{ title }}{% endblock %}</title>
		<link rel="stylesheet" href="stylesheets/app.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% include "shared/app-icons.njk" %}
		{% block head %}{% endblock %}
	</head>
	<body class="flex flex-col w-full antialiased font-body bg-body text-body">
		{% include "shared/header.njk" %}
		{% block content %}{% endblock %}
		{% include "shared/footer.njk" %}
		{% block javascript %}
		<script src="javascripts/app.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
		{% endblock %}
	</body>
</html>
