<section class="bg-white">
	<div class="container px-4">
		<div class="max-w-4xl mx-auto md:pt-24 py-11">
			<a class="block mx-auto mb-5 max-w-max" href="#">
				<img src="/images/logo-blue.svg" alt="" />
			</a>
			<div class="flex flex-wrap justify-center -mx-3 lg:-mx-6">
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Product</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Features</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Pricing</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Resources</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Careers</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Help</a></div>
				<div class="w-full p-3 md:w-auto md:px-6"><a class="inline-block font-medium text-gray-500 hover:text-gray-600" href="#">Privacy</a></div>
			</div>
		</div>
	</div>
	<div class="border-b border-gray-100"></div>
	<div class="container px-4">
		<p class="py-10 font-medium text-center text-gray-400">© 2022 Housing Association. All rights reserved.</p>
	</div>
</section>
